
.contents-breadcrumb{
	width:73%;
	float: right; 
	display: block; 
	overflow: hidden;
	margin: 1% 0;
}

.content-crumbs{
	border: none;
	  width: 100%;
}
.content-crumbs li{
  float: left;
}

.content-crumbs a{
	font-family: NanumBarunGothic;
	padding: 7px 20px;
	font-size:10pt;
	float: left;
	text-decoration: none;
	color: #444;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	background-color: #ddd;
	background-image: linear-gradient(to right, #f5f5f5, #ddd);
}

.content-crumbs li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
}

.content-crumbs a:hover{
   background: #fff;
}

.content-crumbs a::before,
.content-crumbs a::after{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

.content-crumbs a::after{ 
  z-index: 2;
  border-left-color: #ddd;  
}

.content-crumbs a::before{
  border-left-color: #ccc;  
  right: -1.1em;
  z-index: 1; 
}

.content-crumbs a:hover::after{
  border-left-color: #fff;
}

.content-crumbs .current,
.content-crumbs .current:hover{
  font-weight: bold;
  background: none;
}

.content-crumbs .current::after,
.content-crumbs .current::before{
  content: normal;  
}